if theme.cahngyan_donate
  div#cyReward(role="cylabs" data-use="reward")
  script(type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js")
  script(type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid="+theme.changyan)
if page.next || page.prev
  .post-nav
    if page.prev
      a.pre(href=url_for(page.prev_link ? page.prev_link : page.prev.path))= page.prev.title
    if page.next
      a.next(href=url_for(page.next_link ? page.next_link : page.next.path))= page.next.title
